.ActivityCard {
  position: relative;
  width: auto;
  margin: 1vh;
  cursor: pointer;
}

.activity-content {
  width: 70%;
  margin: auto;
  padding: 2vh;
  aspect-ratio: 1 / 1; /*To make the cells in table square */
  background: gainsboro;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  text-align: center;
}

.activity-card-img {
  width: 100%;
  margin: 5px 0;
}

.activity-card-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity-card-tags-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: fit-content;
}

.activity-card-tags-list li {
  width: fit-content;
  display: inline-block;
  margin: 0 5px;
}