.ActivityCard {
  position: relative;
  width: 60%;
  margin: auto;
  margin-bottom: 3vh;
}

.activity-content-container {
  position: relative;
  width: 100%;
  background: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  text-align: center;
  padding: 2vh;
}

.activity-info-container {
  position: relative;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  height: auto;
}

.activity-tags-container {
  display: flex;
  flex-direction: row;
  place-content: space-evenly;
  height: fit-content;
  height: auto;
}

.activity-card-img {
  width: 20%;
  margin: 5px 0;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}

.activity-card-tags-container {
  display: flex;
  flex-direction: row;
}

.activity-card-btns {
  display: flex;
  flex-direction: column;
  height: 18vh;
  place-self: center;
  justify-content: space-between;
}

.open-post-btn {
  background: none;
  cursor: pointer;
}

.open-post-btn:hover {
  transform: scale(1.1);
}

.open-post-btn:active {
  transform: scale(1);
}

.activity-card-likes-btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 3px 0px;
  width: auto;
}

.activity-card-likes-btn:hover {
  transform: scale(105%);
}

.activity-card-likes-btn:active {
  transform: translateX(-2px);
  box-shadow: 0px 1px 0px;
}