/* Style Footer */
.Footer {
  background-color: rgb(172, 178, 152);
  height: auto;
  min-height: 18vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.footer-row-container {
  width: 100%;
  display: flex;
  place-self: center;
  place-content: center;
}

.slogan {
  width: fit-content;
}

.wanderly-beige {
  color: rgb(250, 240, 228);
}

.social-media-icons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.social-media-icon {
  height: 6vh;
  cursor: pointer;
}

.website-info-container {
  display: flex;
  text-align: center;
}

.terms-and-privacy-container p{
  cursor: pointer;
  width: fit-content;
}

.terms-and-privacy-container {
  text-align: center;
}