* {
  padding: 0;
  margin: 0;
}

/* Style Header */
.Header {
  background-color: rgb(172, 178, 152);
  padding: 1vh 0;
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  aspect-ratio: 1/1;
}

.wanderly-title {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

a:visited {
  color: black;
}

.logout-btn {
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 15%;
  }

  .website-title-container {
    position: relative;
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 0;
    border-bottom: 1px solid black;
  }

  .wanderly-title {
    position: relative;
    font-size: 7vh;
  }

  .navbar-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navbar-link {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: larger;
    padding: 1.5vh 0;
    height: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 15%;
  }

  .website-title-container {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 0;
    border-bottom: 1px solid black;
  }

  .wanderly-title {
    font-size: 7vh;
  }

  .navbar-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navbar-link {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: larger;
    padding: 1.5vh 0;
    height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Header {
    flex-direction: row;
  }

  .logo {
    width: 25%;
  }

  .website-title-container {
    border: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Header {
    flex-direction: row;
    place-items: center;
  }

  .logo {
    width: 25%;
  }

  .website-title-container {
    width: 26vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .wanderly-title {
    font-size: 6vh;
  }

  .navbar-links-container {
    margin-right: 2vw;
    padding: 0;
    width: 35%;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-content: center;
  }

  .navbar-link {
    border: none;
  }
}