.LandingPage {
    background-color: #90b4ce;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.box {
    background-color: white;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.formType {
    font-size: xx-large;
    padding: 10px 0px 10px;
}

.change-form-message {
    font-size: small;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .box {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .box {
        width: 50%;
    }
}