/* Styling maps page */
.maps-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center items */
  align-items: center;
  padding: 20px;
  background-color: rgb(250, 240, 228);
}

/* Styling map in maps page */
.google-maps {
  width: 60%;
  height: 50vh;
  padding:20px;
  margin-top: 30px;
  margin-bottom: 42px;
}