.page {
    background-color: #fffffe;
}

.left-pane {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #fffffe;
    padding: 10px 0px 10px 0px;
    text-align: left;
    font-size: large;
    color: #094067;
}

.right-pane {
    display: flex;
    flex-direction: column;
    color: #094067;
}

.tab-container div p {
    color: #5f6c7b !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .profile-pic {
        position: relative;
        height: 25vh;
        left: 2vw;
    }

    .profile-name.hidden-small-screen {
        display: none;
    }

    .profile-name {
        font-size: 2.5em;
        padding: 30px 0px 20px 0px;
        font-weight: bold;
        width: 100vw;
        text-align: center;
        color: #094067;
        border-bottom: 1px solid gray;
    }

    .settings {
        margin-bottom: 2vh;
    }

    .left-pane {
        padding: 3vw 3vw 5vw 3vw;
        place-items: center;
    }

    .right-pane {
        padding: 0px 3vw;
        margin-bottom: 3vw;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .profile-pic {
        position: relative;
        height: 25vh;
        left: 2vw;
    }

    .profile-name.hidden-small-screen {
        display: none;
    }

    .profile-name {
        font-size: 2.5em;
        padding: 30px 0px 20px 0px;
        font-weight: bold;
        width: 100vw;
        text-align: center;
        border-bottom: 1px solid gray;
    }

    .settings {
        margin-bottom: 2vh;
    }

    .left-pane {
        padding: 3vw 3vw 5vw 3vw;
        place-items: center;
    }

    .right-pane {
        padding: 0px 3vw;
        margin-bottom: 3vw;
        width: 100%;
        color: #094067;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile-pic {
        position: relative;
        height: 30vh;
        left: 2vw;
        margin-bottom: 3vh;
    }

    .profile-name.hidden-large-screen {
        display: none;
    }

    .profile-name.hidden-small-screen {
        display: inherit;
    }

    .profile-name {
        font-size: xxx-large;
        font-weight: bold;
        border: none;
        width: fit-content;
    }

    .settings {
        margin-bottom: 1.5vh;
    }

    .left-pane {
        padding: 3vw 3vw 5vw 3vw;
        place-items: center;
        width: 30%;
    }

    .right-pane {
        position: relative;
        margin-top: 8vh;
        margin-bottom: 3vw;
        width: 70%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .right-pane {
        padding: 0px 3vw;
        margin-bottom: 3vw;
        width: 70%;
    }
}