.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchBar {
    width: 40vw;
    margin-bottom: 5vh;
    padding: 2vh;
    z-index: 5;
}

.search-result {
    text-align: 'left';
    cursor: pointer;
}

.search-result:hover {
    cursor: pointer;
}