.main-div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.SearchBar {
    width: 40vw;
    margin-bottom: 5vh;
}

.search-result {
    display: 'block';
    text-align: 'left';
}

.search-result:hover {
    cursor: pointer;
}