.btn-primary {
    background-color: #90b4ce;
    border: 1px solid #094067;
    color: #fffffe;
    border-radius: 10px;
    box-shadow: 0px 3px 0px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #ef4565;
}

.show>.btn-primary.dropdown-toggle {
    background-color: #ef4565;
}