* {
    margin: 0;
}

#weather-panel-container {
    margin-top: 2vh;
    margin-bottom: 5vh;
    padding: 3vh;
    border: 0.3vw solid #3d3c3e;
    border-radius: 50px;
    color: #5b585e;
    width: 60vw;
    height: auto;
    background-color: #d8d9d8;
}

#weather-container-top {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

#icon {
    height: 20vh;
}

.weather-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.weather-info-container-1 {
    margin-bottom: 2vh;
}

.weather-info-container div {
    width: fit-content;
}

.weather-info-container h2 {
    text-align: center;
    font-size: 1.5rem;
}

.weather-info-container h3 {
    text-align: center;
}