* {
    margin: 0;
}

#weather-panel-container {
    margin-top: 2vh;
    margin-bottom: 5vh;
    padding: 3vh;
    border: 4px solid #094067;
    border-radius: 50px;
    color: #094067;
    width: 60vw;
    height: auto;
    background-color: #90b4ce;
    cursor: pointer;
}

#weather-container-top {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

#icon {
    height: 20vh;
}

.weather-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.weather-info-container-1 {
    margin-bottom: 2vh;
}

.weather-info-container div {
    width: fit-content;
}

.weather-info-container h2 {
    text-align: center;
    font-size: 1.5rem;
}

.weather-info-container h3 {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #weather-panel-container {
        width: 90vw;
        margin-bottom: 7vh;
        padding: 2vh;
    }

    .weather-info-container h2 {
        font-size: 1.3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #weather-panel-container {
        width: 85vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #weather-panel-container {
        width: 80vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #weather-panel-container {
        width: 60vw;
    }
}